
@{
    ViewData["Title"] = "Success";
    Layout = "~/Views/Shared/Test.cshtml";
}

<h2>Randevu Başarıyla Eklendi!</h2>
<p>Yeni randevunuz başarıyla kaydedildi.</p>
<a asp-action="Create" class="btn btn-success">Yeni Randevu Ekle</a>
<a asp-controller="Man" asp-action="Index" class="btn btn-primary">Ana Sayfaya Dön</a>

