@model Hairr.Models.Islem
@{
    ViewData["Title"] = "IslemGetir";
    Layout = "~/Views/Shared/Admin.cshtml";
}




<div class="row">
    <div class="col-md-6">
        <form asp-action="IslemGuncelle" method="post">
            @Html.AntiForgeryToken()

            <input type="hidden" asp-for="ID" />

            <div class="form-group">
                <label asp-for="IslemAdi" class="control-label"></label>
                <input asp-for="IslemAdi" class="form-control" />
                <span asp-validation-for="IslemAdi" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Time" class="control-label">Süre (dk)</label>
                <input asp-for="Time" class="form-control" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Price" class="control-label">Fiyat (₺)</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Güncelle" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">İptal</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
